<h1>Result</h1>

<h2>Output</h2>
<div id="output">
	<xmp>
		<%=raw(@output)%>
	</xmp>
</div>

<!--<a href="/<%=@filename%>"><%=@filename%></a>-->

<h2>Input</h2>
<div id="input">
	<xmp>
		<%=raw(@input)%>
	</xmp>
</div>

<style type="text/css" media="screen">
	#input, #output { width: 100%; height:350px; overflow: auto;}
</style>